# Python Functions

In [1]:
def my_function():
  print("Hello from a function")

In [2]:

my_function()

Hello from a function

## Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

#### Parameters or Arguments?
The terms parameter and argument can be used for the same thing: information that are passed into a function.

In [4]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

## Arbitrary Arguments, *args

In [5]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [6]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## Arbitrary Keyword Arguments, **kwargs

In [7]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

#### Default Parameter Value

In [8]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

#### Passing a List as an Argument

In [9]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [10]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [11]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

### Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [12]:
x = lambda a : a + 10
print(x(5))

15

In [13]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [14]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [15]:
def myfunc(n):
  return lambda a : a * n

In [16]:
myfunc(5)

In [17]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [18]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [19]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Map Function

In [20]:
numbers = [1,2,3,4,5]
squared = []
for num in numbers:
    squared.append(num **2)

In [21]:
squared

[1, 4, 9, 16, 25]

In [22]:
def square(number):
    return number **2

numbers =[1,2,3,4,5]
squared = map(square,numbers)

In [23]:
list(squared)

[1, 4, 9, 16, 25]

In [24]:
def trip(number):
    return number **3

numbers =[1,2,3,4,5]
trip = map(trip,numbers)
list(trip)

[1, 8, 27, 64, 125]

In [25]:
str_nms = ["1","2","3","4","5"]
int_nums = map(int,str_nms)
int_nums

In [26]:
list(int_nums)

[1, 2, 3, 4, 5]

In [27]:
numbers = [-1,2,3,-10,-22]
abs_values = list(map(abs,numbers))
abs_values

[1, 2, 3, 10, 22]

In [28]:
list(map(float,numbers))

[-1.0, 2.0, 3.0, -10.0, -22.0]

In [29]:
words = ["Welcome","to ","Programming ","with ","Wayne"]
list(map(len,words))

[7, 3, 12, 5, 5]

In [30]:
numbers = [1,2,3,4,5,6]
squared = map(lambda num : num**2 , numbers)

In [31]:
squared

In [32]:
list(squared)

[1, 4, 9, 16, 25, 36]

In [33]:
num = [1,3,4,6,7]
add = map(lambda n:n+3, num)
list(add)

[4, 6, 7, 9, 10]

In [34]:
numbers = [1,2,3,4,5,6,7,8,9,10]
triple = map(lambda num: num **3, numbers)
list(triple)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [35]:
quad = map(lambda num : num **4, numbers)
list(quad)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [36]:
string_it = ["processing", "strings", "with", "map"]
list(map(str.capitalize, string_it))
['Processing', 'Strings', 'With', 'Map']

['Processing', 'Strings', 'With', 'Map']

## Filter Function in Python

filter() method takes two parameters:

* function - function that tests if elements of an iterable return true or false If None, the function defaults to Identity function - which returns false if any elements are false
* iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators

In [37]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

In [38]:
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(letter in vowels):
        return True
    else:
        return False

In [39]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 
filteredVowels = filter(filterVowels, sequence)

In [41]:
list(filteredVowels)

['e', 'e']

In [42]:
print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:

In [43]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32