# Python Functions

# Find the Max of three numbers

In [1]:
def maxofthree(a,b,c):
    if a>b and a>c:
        print("A is greater",a)
    elif b>a and b>c:
        print("B is greater ",b)
    else:
        print("C is greater ",c)

In [2]:
maxofthree(2,3,5)

C is greater  5

### Write a Python function to sum all the numbers in a list

In [3]:
def sumall(*ar):
    suma = 0
    for i in ar:
        suma = i + suma
    print(suma)

In [5]:
sumall(12,3,4,5)

24

### Write a Python function to multiply all the numbers in a list.

In [8]:
def multiply(*number):
    mul = 1
    for i in number:
        mul = i * mul
    return mul
print(multiply(3,4,36,7))

3024

### Write a Python program to reverse a string

In [19]:
def string(e):
    str1 = ''
    index = len(e)
    while index>0:
        str1 += e[index-1]
        index =index - 1
    print(str1)

In [20]:
string("Ehtisham")

mahsithE

## Calculate the factorial of a number

In [21]:
def fact(n):
    if n==0:
        return 1
    else:
        return n* fact(n-1)

In [22]:
fact(5)

120

### Check whether a number is in a given range

In [25]:
def number(n):
    if n in range(3,7):
        print("Yes number is in given range")
    else:
        print("No number is not in given range")

In [26]:
number(5)

Yes number is in given range

#### Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [42]:
def function(c):
    d = {"UPPER_CASE":0,"LOWER_CASE":0}
    for i in c:
        if i.isupper():
            d["UPPER_CASE"]+=1
   
        elif i.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
    print("No of UPPER_CASE Letter",d["UPPER_CASE"])
    print("No of LOWER_CASE Letter",d["LOWER_CASE"])

In [43]:
function("Ehtisham")

No of UPPER_CASE Letter 1
No of LOWER_CASE Letter 7

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [46]:
def unique_list(l):
    x = []
    for i in l:
        if i not in x:
            x.append(i)
    return x

In [47]:
print(unique_list([1,22,22,33,21,33,45]))

[1, 22, 33, 21, 45]

#### Write a Python function that takes a number as a parameter and check the number is prime or not.

In [54]:
def prime(n):
    if n ==0 or n==1:
        return False
    
    for i in range(2,n):
        if n %2!=0:
            return True
        else:
            return False

In [55]:
prime(4)

False

In [58]:
prime(15)

True

## Print the even numbers from a given list

In [59]:
def even(l):
    even = []
    for i in l:
        if i%2 ==0:
            even.append(i)
    return even

In [60]:
even([12,3,4,245,34])

[12, 4, 34]

 ### Generate and print a list where the values are square of numbers between two numbers

In [64]:
def printvalues():
    l = list()
    for i in range(1,21):
        l.append(i**2)
    return l

In [65]:
printvalues()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]