# Python Numbers

Python Numbers
There are three numeric types in Python:

* int
* float
* complex
Variables of numeric types are created when you assign a value to them

In [2]:
x = 1    # int
y = 2.8  # float
z =   'Small', "Small" #strings

To verify the type of any object in Python, use the **type()** function

In [3]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [4]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [5]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [6]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [7]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [8]:
x = 1    # int
y = 2.8  # float

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)



print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [9]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [4]:
import random

print(random.randrange(1, 10))

8

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the **print()** function

In [11]:
print("Hello")
print('Hello')

Hello
Hello

## Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [12]:
a = "Hello"
print(a)

Hello

In [12]:
a = "Hello,World"

print(a[-7])

o

## Looping Through a String

In [14]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [13]:
a = "Hello,World!"
print(len(a))

12

## Check String

To check if a certain phrase or character is present in a string, we can use the keyword **in.**

In [16]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [15]:
txt = "The best things in life are free!"
if "present" in txt:
  print("Yes, 'free' is present.")

In [18]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [19]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

# Slicing Strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [17]:
b = "Hello, World!"
print(b[0:5])

Hello

## Slice From the Start

In [21]:
b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End

In [22]:
b = "Hello, World!"
print(b[-9:-2])

o, Worl

## Negative Indexing

In [23]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

#### Upper Case

In [24]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

#### Lower Case

In [25]:
a = "Hello, World!"
print(a.lower())

hello, world!

#### Replace String

In [30]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Split String
The **split()** method returns a list where the text between the specified separator becomes the list items.

In [31]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# String Concatenation

In [32]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [34]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Format - Strings

#### String Format

In [24]:
age = 36
txt = "My name is John, I am  age"+age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the **format()** method!

The **format()** method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [36]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [37]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers **{0}** to be sure the arguments are placed in the correct placeholders

In [38]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# String Methods

* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* Index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

# Exercise

#### 1.Use the len method to print the length of the string.

In [ ]:
x = "Hello World"
print()

#### 2.Get the first character of the string txt.

In [ ]:
txt = "Hello World"
x =

#### 3.Get the characters from index 2 to index 4 (llo).

In [ ]:
txt = "Hello World"
x =

#### 4.Return the string without any whitespace at the beginning or the end.

In [ ]:
txt = " Hello World "
x =

#### 5.Convert the value of txt to upper case.

In [ ]:
txt = "Hello World"
txt =

#### 6.Convert the value of txt to lower case.

In [ ]:
txt = "Hello World"
txt =

#### 7.Replace the character H with a J.

In [ ]:
txt = "Hello World"
txt = txt.(,)

#### 8.Insert the correct syntax to add a placeholder for the age parameter.

In [42]:
age = 36
txt = "My name is John, and I am "
print(txt.format(age))

My name is John, and I am