# Python Booleans

Booleans represent one of two values: True or False.

#### Boolean Values

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
b = 33
a = 200
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Operators

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values

In [5]:
print(10 + 5)

15

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

### Arithmetic Operators

* +	Addition	x + y	
* -	Subtraction	x - y	
* *	Multiplication	x * y	
* /	Division	x / y	
* %	Modulus	x % y	
* **	Exponentiation	x ** y	
* //	Floor division	x // y

 ### Assignment Operators

* =	x = 5	x = 5	
* +=	x += 3	x = x + 3	
* -=	x -= 3	x = x - 3

### Comparison Operators

* ==	Equal	x == y	
* !=	Not equal	x != y	
* >	Greater than	x > y	
* <	Less than	x < y	
* >=	Greater than or equal to	x >= y	
* <=	Less than or equal to	x <= y

### Logical Operators

* and 	Returns True if both statements are true	x < 5 and  x < 10	
* or	Returns True if one of the statements is true	x < 5 or x < 4	
* not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

### Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

* is 	Returns True if both variables are the same object	x is y	
* is not	Returns True if both variables are not the same object	x is not y

### Membership Operators

* in 	Returns True if a sequence with the specified value is present in the object	x in y	
* not in	Returns True if a sequence with the specified value is not present in the object	x not in y

### Bitwise Operators

* & 	AND	Sets each bit to 1 if both bits are 1
* |	OR	Sets each bit to 1 if one of two bits is 1
*  ^	XOR	Sets each bit to 1 if only one of two bits is 1
* ~ 	NOT	Inverts all the bits
* <<	Zero fill left shift	Shift left by pushing zeros in from the right * and let the leftmost bits fall off
*    ">>"	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Lists

In [1]:
mylist = ["apple", "banana", "cherry"]

In [4]:
mylist
#" This is my string"

['apple', 'banana', 'cherry']

Lists are used to store multiple items in a single variable.

In [7]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] e

Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value

In [8]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

To determine how many items a list has, use the **len()** function

In [9]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List items can be of any data type

In [10]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [11]:
list1 = ["abc", 34, True, 40, "male"]

##### type()

In [12]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

It is also possible to use the list() constructor when creating a new list

In [13]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Access List Items

List items are indexed and you can access them by referring to the index number

In [14]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [15]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# Check if Item Exists

To determine if a specified item is present in a list use the in keyword

In [20]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Change List Items

Change Item Value
To change the value of a specific item, refer to the index number

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)
thislist.append("watermelon")
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'cherry', 'watermelon']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the **insert()** method.

The **insert()** method inserts an item at the specified index:

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Nested lists

In [26]:
my_list = ['p', 'r', 'o', 'b', 'e']

In [27]:
print(my_list[0])

p

In [5]:
n_list = ["Happy", [2, 0, 1, 5]]

In [7]:
print(n_list[1][3])

5

In [33]:
print(n_list[1][3])

5

In [ ]:
print(my_list[4.0])

In [8]:
L = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']

In [9]:
print(L[1])

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [10]:
print(L[2][2])

IndexError: string index out of range

In [38]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

In [39]:
print(L[2])

['cc', 'dd', ['eee', 'fff']]

In [40]:
print(L[2][2])

['eee', 'fff']

In [41]:
print(L[2][2][0])

eee

In [22]:
list1 = ['e',' f',['g', 'h ', 'k', ['m','m','n','o'],[ 'o','p']]]

print(list1[2][4][0])

o

### Change Nested List Item Value

In [42]:
L = ['a', ['bb', 'cc'], 'd']

In [43]:
L[1][1] = 0

In [44]:
L

['a', ['bb', 0], 'd']

### Add items to a Nested list

In [11]:
L = ['a', ['bb', 'cc'], 'd']

In [14]:
L[1].append('xx')

In [15]:
L

['a', ['bb', 'cc', 'xx'], 'd', 'xx']

In [48]:
L = ['a', ['bb', 'cc'], 'd']

In [49]:
L[1].insert(0,'xx')

In [50]:
print(L)

['a', ['xx', 'bb', 'cc'], 'd']

You can merge one list into another by using **extend()** method

In [51]:
L = ['a', ['bb', 'cc'], 'd']
L[1].extend([1,2,3])

In [52]:
L

['a', ['bb', 'cc', 1, 2, 3], 'd']

In [1]:
my_list = [[1, 2, 3], [4, 5,[9, 10, 11]], [6, 7, 8, 9]] 
print(my_list)

[[1, 2, 3], [4, 5, [9, 10, 11]], [6, 7, 8, 9]]

In [7]:
print(my_list[1][2][0])

9