# Python Tuples

In [1]:
mytuple = ("apple", "banana", "cherry")

### Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

#### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

#### Allow Duplicates
Since tuple are indexed, tuples can have items with the same value:

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

#### Tuple Length
To determine how many items a tuple has, use the len() function:

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [5]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [8]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

### Tuple Items - Data Types
Tuple items can be of any data type:

In [9]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [10]:
tuple1 = ("abc", 34, True, 40, "male")

In [11]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# Python - Access Tuple Items

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

Example

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [2]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

#### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

This example returns the items from index -4 (included) to index -1 (excluded)

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [4]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

# Update Tuples

Tuples are unchangeable, meaing that you cannot change, add, or remove items once the tuple is created.

#### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [7]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items
Once a tuple is created, you cannot add items to it.

In [8]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [9]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

# Remove Items

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

The del keyword can delete the tuple completely:

In [11]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #

NameError: name 'thistuple' is not defined

# Unpack Tuples

## Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

Packing a tuple:

In [12]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

#### Unpacking a tuple:

In [13]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Loop Tuples

### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [14]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

#### Using a While Loop

In [15]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Join Tuples

Join Two Tuples
To join two or more tuples you can use the + operator:

In [16]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [17]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# count() Method

In [18]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

# index() Method

In [19]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# Tuple Exercises

#### 1 Use the correct syntax to print the first item in the fruits tuple.

In [5]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

#### 2 Use the correct syntax to print the number of items in the fruits tuple.

In [7]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

#### 3 Use negative indexing to print the last item in the tuple

In [9]:
fruits = ("apple", "banana", "cherry")
print(fruits[-3])

apple

#### 4 Use a range of indexes to print the third, fourth, and fifth item in the tuple.

In [10]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [11]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[-5:-2])

('cherry', 'orange', 'kiwi')