# Sets

In [1]:
myset = {"apple", "banana", "cherry"}

Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

##### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

##### Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

##### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

Get the Length of a Set
To determine how many items a set has, use the len() method.

In [4]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

##### Set Items - Data Types
Set items can be of any data type:

In [11]:
x = "DORAEMON"
print(x[4::2])

EO

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set with strings, integers and boolean values

In [6]:
set1 = {"abc", 34, True, 40, "male"}

In [7]:
set1

{34, 40, True, 'abc', 'male'}

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [9]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

Check if "banana" is present in the set:

In [13]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Add Set Itmes

**Note:**Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

### Add Sets
To add items from another set into the current set, use the **update()** method.

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'cherry', 'papaya', 'banana', 'pineapple'}

In [21]:
die = {5,2,6,4,1,3}
print(die)

{1, 2, 3, 4, 5, 6}

# Remove Set Items

To remove an item in a set, use the remove(), or the discard() method.

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The clear() method empties the set:

In [18]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Loop Sets

In [19]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

# Join Sets

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [22]:
set1 = {"a", "b" , "c","a"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

The update() method inserts the items in set2 into set1:

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

The intersection_update() method will keep only the items that are present in both sets.

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

#### Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

Return a set that contains all items from both sets, except items that are present in both:

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'cherry', 'microsoft'}

# Set Exercises

#### 1 Check if "apple" is present in the fruits set.

In [23]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

#### 2 Use the add method to add "orange" to the fruits set.

In [29]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}
{'orange', 'apple', 'cherry', 'banana'}

#### 3 Use the correct method to add multiple items (more_fruits) to the fruits set.

In [39]:
fruits = {"apple", "banana", "cherry"}
more_fruits = {"orange", "mango", "grapes"," mango"}
a=fruits.union(more_fruits)
print(a)

{'cherry', 'banana', 'orange', 'mango', 'apple', 'grapes', ' mango'}

#### 4 Use the remove method to remove "banana" from the fruits set.

In [42]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

#### 5 Use the discard method to remove "banana" from the fruits set.

In [43]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")

In [44]:
print(fruits)

{'apple', 'cherry'}